# Build
build/
cmake-build-*/
out/

# Compiled objects
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.cache/

# OS
.DS_Store
Thumbs.db

# Compilation database
compile_commands.json

# Coredumps
core

# Vendors ignore comparable json libs

cpp/vendor/*
!cpp/vendor/.gitkeep