include README.md
include LICENSE
include CMakeLists.txt
include CMakePresets.json

recursive-include include *.h *.hpp
recursive-include src *.c *.cc *.cxx *.cpp *.h *.hpp
recursive-include python *.py
recursive-include tests *.py *.cpp *.h *.hpp *.json *.txt
recursive-include benchmarks *.py *.json *.txt *.md *.gitkeep
recursive-include bench *.cpp *.h *.hpp
